

.bg-light
{
    background-color:transparent !important;
}
.navbar-nav a 
{
      color: #fff !important;
      font-size: 20px;
      margin: 0 10px 0 0;
}
.navbar-nav a:hover
{
      color: #ecf019 !important;
     
}
.navbar-toggler
{
    background-color: #f7fa4a;
}
.navbar
{
    padding: 1.5%;
    z-index: 555555555555555;
}
.iconSea
{
  font: 800;
  font-size: 50px;
  cursor: pointer;
  

}
.iconSea:hover
{
  font: 800;
  font-size: 80px;
  background-color: transparent;
  z-index: 555;
}




.form-inline .box-sea
 {
  display: none;
  width: auto;
  vertical-align: middle;
}


/*.......................................................................*/

.iconSea1
{
  font: 800;
  font-size: 20px;
  cursor: pointer;
  background:  rgb(255, 243, 27) ;
  color: #000;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: -3px;

}
.iconSea1:hover
{
  font: 800;
  font-size: 20px;
  background-color: transparent;
  color: #fff;
  background: linear-gradient(to right,rgb(255, 243, 27) 0,rgba(78, 91, 216, 0.741) 100%);
  

}



.form-inline .box-sea1
 {
  display: none;
  width: auto;
 
}


/*.......................................................................*/







.dropdown-menu.show
{
  background-color:darkgray;
  color: #00b7ff !important; 
}

.dropdown-item:hover
{
background: none;
}







.homelogo
{
    background-image: url(img/black-wood-small.jpg);
    
    width: 100%;
    height:auto;
    background-attachment: fixed;
}

.imglogo
{

    background: linear-gradient(to right,rgb(255, 243, 27) 0,rgba(78, 91, 216, 0.741) 100%);
    background-size: 100% 100%;
    height: auto;
    width: 80%;
    margin: auto;
}




.imglogo h1{
    color: rgb(255, 243, 27) ;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
    
  }
  
  .imglogo  #clockdiv{
      font-family: sans-serif;
      color: #fff;
      display: inline-block;
      font-weight: 900;

      text-align: center;
      font-size: 80px;
  }
  
  .imglogo  #clockdiv > div{
      padding: 10px;
      border-radius: 3px;
      background: rgb(255, 243, 27, 0.5);
      display: inline-block;
  }
  
  .imglogo #clockdiv div > span{
      padding: 15px;
      border-radius: 3px;
      background: rgb(255, 243, 27, 0.2);
      display: inline-block;
  }
  
  .imglogo .smalltext{
      padding-top: 5px;
      font-size: 16px;
  }





.slid1
{
    background-image: url(img/aerial-aerial-view-application-935869.jpg);
    background-size: cover;
    height : 750px;   
    color : rgba(255, 255, 255, 0.95);
}
.img-shadow

{
    background-color: rgba(0, 1, 2, 0.4); 
    background-size: cover;


    height : 750px;

}
.img-shadow .sli
{

 padding: 200px 180px 100px 0 ;
 width: 90%
}
.sli h1 
{
    font-size: 80px
}
.sli .mm
{
    padding: 15px 25px;
    border: rgba(0, 1, 2, 0.4) solid 2px;
    color: #fff;
   
}
.slid2
{
    background-image: url(img/pexels-photo-239853.jpeg);
  background-size: cover;
    height : 750px;
    
    color: #fff
    

}
.slid3
{
    background-image: url(img/access-blur-business-1368684.jpg);
    background-size: 100% 100%;
    height : 750px;
    color: #fff
}


.slid4
{
    background-image: url(img/photo-1530230400789-cfc669762b1c.jpg);
    background-size: 100% 100%;
    height : 750px;
    color: #fff;
        
}



.home3
{
    background-image: url(img/clinic-doctors-glass-127873.jpg);
    background-size: cover;
    height : auto;   
    color : rgba(255, 255, 255, 0.95);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
      
}
.home3-shadow

{
    background-color: rgba(0, 1, 2, 0.4); 
    background-size: cover;


    height : auto;

}

.btnHome3
{
    border: 3px solid white;
    color: #fff;
    border-radius: 10px
}



.working-hours li 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    color: #838383;
    padding: 30px 0;
    border-bottom: 3px solid #eaeaea;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.working-hours li:hover
{
    color: #ffee00;  
}

.working-hours li i
{
    font-size: 40px
}
.imgHome4
{
    margin-top: -50px
}







.lastser img
{
    height: 200px;
    
}

.lastser .card
{
    margin: 20px;
}

 .lastser .card-body
{
        background-color: #eee2e2 !important ;
        height: auto !important;
}

 .lastser .card-deck .card:hover
 {
           border: 2px solid blue !important ; 
           transform: scale(1.02);
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         
  }

.lastser .btnHome3
{
            border: 2px #17a2b8 solid;
}

.lastser h3
{
     color: black;
  }
        












  .home6 .nav-tabs
  {
      text-align: center;
      border-bottom:none !important;
  }
      
  .home6 ul
  {
      
      margin-top: 20px !important ;
      margin-bottom: 1rem;
       
  
  }
  
  
  .home6 .nav-link
  {
      color: #fff !important;
      background: linear-gradient(to right, #dae358, #397dca) !important;
      margin-right:40px !important ;
      border-radius: 10px !important;
      margin-top: -20px;
      margin-bottom: 20px;
      padding: 5px 30px;
  
  
  }
  .nav 
  {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-left: 00% !important;
      margin-bottom: 0;
      list-style: none;
  }
  .tab-pane 
  {
      color: #b3b3b3
  }











        
.home7
{
   background-image: url(img/photo-1532938911079-1b06ac7ceec7.jpg);
   background-size: 100% 100%;
   width: 100%;
   height: auto;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
     

 }

.backHome7
 {
    background: linear-gradient(to right,rgb(122,102,203) 0,rgba(72,189,197,.741176) 100%); 
     background-size: 100% 100%;
     width: 100%;
     height: auto;
 }

 .cora

 {
     padding: 100px 0;
 }

 .backHome7 span
 {
     font-weight: 500;
     color: white;

     font-size: 40px
 }

 .backHome7 h3
 {
     font-weight: 500;
     color: white;
     font-size: 30px
 }


.backHome7 i

{
  color: #fff;
  font-size: 35px

}
.backHome7 p

{
  color: #fff;
  font-size: 40px;
  font-weight: 700

}
.coumessi
{
    
    padding: 40px 0;
    border-radius: 10px;
}
.coumessi:hover
{
  background-color: rgba(160, 165, 187, 0.5);
  border-radius: 10px;
  padding: 40px 20px 0 20px;
}

.coumessi:hover i
{
  transform: translateY(-20px);
  transition: 2s;
  color: #ffee00;
  
}

.home8 img
{
    border-radius: 50%;
    width: 70%;
    height: 30%;
}







.team img
{
    border-radius: 0%;
    width: 96%;
    height: 40%;
}









.home9
{
    background: linear-gradient(to right,rgb(122,102,203) 0,rgba(72,189,197,.741176) 100%); 
    height: auto;
}

.home9 .in
{
   width: 100%;
   height: 55px;
   border: 3px blue solid;
   border-radius: 10px;
   padding: 0 40px;
   font-size: 14px;
   color: #838383;
   
   background-color: transparent;
   
}



.home9 .cccus
{
    color: #fff ;
    background: linear-gradient(to right,rgb(122,102,203) 0,rgba(72,189,197,.741176) 100%); 
  border: none;
    padding: 10px;
    width: 20%;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;


}

.home9 .cccus:hover
{
    background: linear-gradient(to right,rgb(122,102,203) 0,rgba(92, 223, 233, 0.741) 100%); 
}
.home9 .send-us
{
    text-align: right;
}
.home9 .read-more
{
    color: #fff ;
    background: linear-gradient(to right,rgb(122,102,203) 0,rgba(72,189,197,.741176) 100%); 
  border: none;
    padding: 10px 10px;
    width: 60%;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.home9 .read-more:hover
{
    background: linear-gradient(to right,rgb(122,102,203) 0,rgba(92, 223, 233, 0.741) 100%); 
}

























.last
{
    background-image: url(img/black-wood-small.jpg);
   
    background-attachment: fixed;
    height: auto;
}
.last1
{
    background-color: rgba(67, 129, 243, 0.423) ;
    background-size: cover;
    height: auto;
    padding: 100px 0;

}
.last1 .la1
{
    margin-right: 50px ;
}
.last1 .la1 p
{
    color: black;
    font-weight: 600;
}
.last1 .la1 i
{
    color: black;
    margin: 0 10px ;
    cursor: pointer;
}
.last1 .la1 i:hover
{
    color:  rgb(255, 238, 0);
}







.cls{
    margin-right: 50px ;
}

.cls a
{
    display: block;
    text-decoration-line: none;
    color: black;
    padding-bottom:18px; 
}
.cls a:hover
{
    color:   rgb(255, 238, 0);
}
.last h5
{
   
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
        color: black;
        margin-top: 10px;
        text-transform: uppercase;
        font-style: italic;
    
}
.lst
{
    margin-right: 100px
}
.lst span
{
   
    color:   rgb(255, 238, 0);
    text-decoration: underline;
}
.lst p
{
    
    width: 70%;
    color: black;
    margin-top: 3px;
    font-weight: 400;
}






























#myBtn 
{
   display: none;
position: fixed ;
bottom: 20px;
right: 60px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background: linear-gradient(to right,rgb(255, 243, 27) 0,rgba(78, 91, 216, 0.741) 100%);
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}
  
#myBtn:hover
{
    background: linear-gradient(to right,rgb(255, 243, 27) 0,rgba(78, 91, 216, 0.741) 50%);
}










































.circular-menu {
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
  .menu-item:hover
  {
     width: 110% !important;
     height: 110% !important ;
     padding-top: 7px  !important;
     transition: 1s !important;
  }
  
  .circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background : linear-gradient(to right, #ffdd45, #e5ff00) !important;

    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
  }
  
  .circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
  }
  
  .circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }
  
  .circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;  
  }
  
  .circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
  }
  
  .circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background : linear-gradient(to right, #ffdd45, #e5ff00) !important;
    transition: all .3s ease;
  }
  
  .circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }
  
  .circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }
  
  .circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 16.5px;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: hsla(0,0%,0%,.1);
    transition: transform .3s ease, background .2s ease;
  }
  
  .circular-menu .menu-item:hover {
    background-color: hsla(0,0%,0%,.3);
  }
  
  .circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em,-7em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em,-6.3em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-3.2em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em,1em,0);
  }
  


  .circular-menu.circular-menu-left {
    right: auto; 
    left: 1em;
  }
  
  .circular-menu.circular-menu-left .floating-btn {
    background : linear-gradient(to right, #ffdd45, #e5ff00) !important;
  }
  
  .circular-menu.circular-menu-left:after {
    background : linear-gradient(to right, #ffdd45, #e5ff00) !important;
  }
  
  .circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(90deg);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em,-7em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em,-6.3em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em,-3.2em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em,1em,0);
  }



  .menuuu
  {
      padding: 20px;
      margin: auto;
  }








  .home5Ritbck
  {
    background : url(img/Volunteer.jpg);
    background-size:cover;
    width: 100%;
    height: auto;
  }

  .home5leftbck
  {
    background : linear-gradient(to right, #45d4ff, #00aeff) !important;
    width: 100%;
    height: auto;
  }
.home5Rit
{
        
padding-right: 70%;

}
  .vertical-tabs .nav-tabs .nav-link{
    border-radius: 0;
    background: linear-gradient(to right,rgb(255, 243, 27) 0,rgba(78, 91, 216, 0.741) 20%);

    text-align:center;
    font-size: 16px;
    border:1px solid #424242;
    color:#fff;
    height:40px;
    width: 120px;
}
 .vertical-tabs .nav-tabs .nav-link.active{
    background : linear-gradient(to right, #4548ff, #00b7ff) !important;
    color:#fff;
}
 .vertical-tabs .tab-content>.active{
    background:#fff;
    display:block;
}
 .vertical-tabs .nav.nav-tabs{
    border-bottom:0;
    border-right:3px solid #000;
    display:block;
    float:right;
    margin-right:20px;
    padding-right:15px;
}
 .vertical-tabs .sv-tab-panel{
    background:#fff;
    height:274px;
    padding-top:10px;
}
@media only screen and (max-width: 420px){
  .titulo{font-size: 22px}
}
@media only screen and (max-width: 325px){
  .vertical-tabs{ padding:8px;}
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: 9px;
}






























.news h2{color:#4548ff;}
#news-bar {
  width: 80%;
  background:white;
 box-shadow: 0 4px 10px black, 0 0 10px black inset;
  border-radius: 15px;
  font: 21px bold;
  padding:4px;
  padding-left: 20px;
  padding-right: 20px;
}

#news-bar:hover {
  transition: 0.37s;
}

#news-bar a {
  padding:8px 2px;
  color: black;
  text-decoration: none;
}

#news-bar a:hover {
  transition: 0.37s;
  color:rgb(255, 243, 27);
}


/* Pop */

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Float */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


/* slideUp */

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%)
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(-8%);
  }
  65% {
    -webkit-transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-4%);
  }
  95% {
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}













/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&Video&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */






.skitter .focus_button
 {
  background-position: -42px -0px;
  width: 42px;
  height: 42px;
  top: 35px;
  left: 35px;
  background-color: #0099ff;
  padding:  20px ;
  border-radius: 50%;
  opacity: 0.3;
  color: transparent;
}





.skitter .info_slide_dots .image_number {
  background-color: rgb(216, 236, 30);
  color: transparent;
  float: left;
  margin: 0 5px 0 0;
  cursor: pointer;
  border-radius: 50px;
  width: 20;
  height: 20;
  text-indent: -9999em;
  overflow: hidden;
  transition: all 0.2s;
  padding: 0 7 0 7;
}



.image_main 
{
  height: 400px !important;
  
}





/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&Video&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */



.w-100 {
  height: 800px !important ;
  width: 100%!important;
}


.carousel-control-prev-icon
{
  background-color: #dae358 !important;
  padding: 30px 10px;
}




.carousel-control-next-icon
{
  background-color: #dae358 !important;
  padding: 30px 10px;
}


.carousel-caption
{
  background-color:  rgb(255, 243, 27, 0.5);
  height: auto;
  width: 70%;
  margin-bottom:100px !important ;
  margin: auto;
  border-radius: 20px;
}

.enjoy
{
  background-color:  rgb(255, 243, 27, 0.8);
padding-bottom: 40px;
border-bottom-right-radius: 20px;
border-bottom-left-radius:20px; 

}

.enjoy a
{
  font-weight: 800;
  font-size:30px;
}
#enjoy
{
  overflow: hidden;
}
#enjoy img
{
  border-top-right-radius: 20px;
border-top-left-radius:20px; 
height: 400px;
width: 100%;
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&our see&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */


.ourSee p
{
  color : #757575;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&callUs&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.call-us i
{
  font-size: 30px;
  padding: 30px;
  border-radius: 50%;
  border: solid 2px rgba(240, 240, 13, 0.63);
  color: 45d4ff;
  margin-bottom: 35px;
  box-shadow: 10px 10px 10px;
}
.call-us i:hover
{
  border: solid 2px blue;
  background-color: yellow;
  color: #45d4ff;
  transition: 1s;
  box-shadow: 10px 10px 10px  black;


}


.call-us .mm{
  border-left: rgba(240, 240, 13, 0.63) solid 2px;
  border-right: rgba(240, 240, 13, 0.63) solid 2px;


}



/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&our ser1&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.our-ser
{
  overflow: hidden;
}

.our-ser1 img
{
  height: 400px;
}

.our-ser1  .btnHome3
{
  color: yellow;
  border: 2px solid #00aeff; 
}
.our-ser1 .card
{
  margin-bottom:30px ;
}



.our-ser1 .card:hover
{
  box-shadow: 5px 5px 2.5px  rgb(255, 243, 27, 0.4);
  transition: 1s;
  transform: scale(1.05)
}












/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&ser pro&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */



.pro .ani
{
  border-radius:0px 50px ;
  border: 2px solid blue;
  height: 25%;
}


.pro .anii
{
  border-radius:50px 0px ;
  border: 2px solid blue;
  height: 25%;
}
.imgsHover img
{
  height: 100%;
}





.pro .img-cover img
{
width: 99%;
  margin-left: 90px;
}
.pro .caption 
{
  width: 90%;
  padding-right: 5%
}
.pro .imgsHover
{
  padding-left: -30px
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&ser fix&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */



.fix .ani
{
  border-radius:0px 50px ;
  border: 2px solid blue;
  height: 25%;
}


.fix .anii
{
  border-radius:50px 0px ;
  border: 2px solid blue;
  height: 25%;
}
.imgsHover img
{
  height: 100%;
}


.fix .img-cover img
{
width: 99%;
  margin-left: 90px;

}
.fix .caption 
{
  width: 90%;
  padding-right: 5%
}
.fix .imgsHover
{
  padding-left: -30px
}



/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&ser edu&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */





.edu .ani
{
  border-radius:0px 50px ;
  border: 2px solid blue;
  height: 25%;
}


.edu .anii
{
  border-radius:50px 0px ;
  border: 2px solid blue;
  height: 25%;
}
.imgsHover img
{
  height: 100%;
}



.edu .img-cover img
{
width: 99%;
  margin-left: 90px;
}
.edu .caption 
{
  width: 90%;
  padding-right: 5%
}
.edu .imgsHover
{
  padding-left: -30px
}






/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&news&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */




.pagination
{
  margin-right: 32%;
}

.pagination a 
{
  color: black;
  background-color: #0099ff;
  padding: 8px 16px;
  float: right;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 50%;
}

.pagination a.active 
{
  background: linear-gradient(to right, #397dca, #f2ff3a) !important;
  color: white;
  border: 1px solid rgb(11, 54, 71);
}

.pagin
{
  background-color: #000 !important ;
  color: floralwhite !important ;
}





/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&we&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */


.howe p
{
  color : #757575;
}

.team2
{
  background-color: #b3b3b3;

}
.team2 p{
  color:#fff;
}

.teamWe .imgWe
{
  width: 100%;
  overflow: hidden;

}
.teamWe img
{
  width: 100%;
}
 .teamWe img:hover

{
  transform: scale(1.1);
  
  overflow: hidden;
  transition: 1s
}
.teamWe .teamone
{
  border: rgba(160, 165, 187, 0.5) 1px solid;
  overflow: hidden;
  width: auto;
text-align: center;
}


.team2 a
{
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  margin-top: 30px
}

.weWht
{
  overflow: hidden;
}
.weWht1
{
  overflow: hidden;
  background: linear-gradient(to right,rgb(240, 255, 27) 0,rgba(78, 91, 216, 0.741) 100%);

}

.weWhat
{
  background-image: url(img/pexels-photo-1170979.jpeg);
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;

}
.weWhat1
{
background-color: rgba(10, 49, 100, 0.7) ;
  background-size: cover;
  width: 100%;
  height: auto;
  color: #fff;
}

.weWhat1 p{
  color: darkgray !important ;
}

.wim img
{
  height:79.5%;

}


